*.dll
*.lib
*.pdb
*.cache
*.zip
*.zgy
*.bin
/build/
*.suo
*.user
/node_modules
/Release
/Debug
/VisageDeckLib22
/x64
/TestPredicates
/ThirdParties
/PetrelProjects
/Other
/plugin_description
*.ptd
*.zip 
*drop*
/packages
/Interaction
/VisualControlsCharts
/obj
*Annotation*
*ThreeButton*
*Gestures*
*Temporary* 


